a.item(href='#intro') Intro
.divider
a.item(href='#history') History
.divider
a.item(href='#howto') How to Use
.divider
a.item(href='#collection') The Collection
.divider
a.item(href='#credits') Credits
