.container
  width 980px
  margin auto

.title
  gf(h1)
  text-align center
  text-transform uppercase
  padding 0 0 30px 0

.menu
  border-top 2px solid gc(black1)
  border-bottom 2px solid gc(black1)
  padding 6px 0
  > .inner
    border-top 1px solid gc(black1)
    border-bottom 1px solid gc(black1)
    > .left, > .right, > .item
      text-align center
      padding 10px
    > .left, > .right
      width 100px
    > .left
      float left
      border-right 1px solid gc(black1)
    > .right
      float right
      border-left 1px solid gc(black1)
    > .item
      float left
      padding 10px 30px
      color gc(black1)
      text-decoration none
      transition color 0.1s linear, text-decoration 0.1s linear 0.1s
      &:hover
        color gc(brown3)
        text-decoration underline
    > .divider
      float left
      width 2px
      height 20px
      background-color gc(black1)
      margin 16px 0 0 0

.section
  padding 30px 0
  > .copy

    &.left
      float left
    &.right
      float right
    &.full
      padding 30px 0 0 0

    > .first
      gf(copy2)
      float left
      line-height 60px
      margin 20px 10px 10px 0
    > .subheader
      > .copy
        gf(h2)
        text-align center
        line-height 20px
        letter-spacing 5px
        padding 25px 0 0 0

    &.scope1
      width 570px
      padding 20px 0 0 0

    &.history1
      width 560px
    &.collection
      width 520px

  > .asset
    background-size cover
    &.right
      float right
    &.left
      float left
    &.scope1
      width 330px
      height 245px
      background-image url(/images/stereoscope1.png)
    &.brewster
      width 330px
      height 245px
      background-image url(/images/brewster.png)
    &.globe
      width 360px
      height 468px
      background-image url(/images/globe.png)






