footer
  border-top 2px solid gc(black1)
  border-bottom 2px solid gc(black1)
  padding 6px 0
  width 980px
  margin auto
  > .inner
    border-top 1px solid gc(black1)
    border-bottom 1px solid gc(black1)
    > .lg
      float left
      width 200px
      height 140px
      border-right 1px solid gc(black1)
      > svg
        display block
        width 80px
        height 80px
        margin 30px auto 0 auto
    > .fmenu
      float right
      padding 40px 0 0 0
      bo

      > .item
        float left
        padding 10px 30px
        color gc(black1)
        text-decoration none
        transition color 0.1s linear, text-decoration 0.1s linear 0.1s
        &:hover
          color gc(brown3)
          text-decoration underline


      > .divider
        float left
        width 2px
        height 20px
        background-color gc(black1)
        margin 16px 0 0 0
