header
  > .inner
    padding 20px 60px
    > .logo
      width 320px
      height 100px
      margin auto
      > svg
        width inherit
        height inherit

/*
#Letters
  > g > path
    animation fadeIn 0.1s ease-in-out 0s both
    for num in 1..12
      &:nth-child({num})
        animation-delay unit(num*0.1, 's')

#Ornaments
  animation fadeIn 0.2s ease-in-out 1s both

#Shadow01, #Shadow02
  animation fadeIn 0.2s ease-in-out 0.5s both
*/
