header#top
  .inner
    .logo
      include ../../vector/header.svg

    .menu.unstuck
      .outer
        .inner
          .burger
            .line
            .line
            .line
          .left SF, CA

          include menu.pug

          .right 2016
          .clear
        .clear


