header#top
  .inner
    .logo
      include ../../vector/header.svg

    .menu.unstuck
      .outer
        .inner
          .burger
            .line
            .line
            .line
          .left            
            .loc.on SF, CA
            a.lg.off(href="#top",data-item="top")
              include ../../vector/lg.svg


          include menu.pug

          .right
            .socials
              a.social.social_facebook(href=config.meta.social.facebook,target="_blank")
                include ../../vector/facebook.svg
              a.social.social_twitter(href=config.meta.social.twitter,target="_blank")
                include ../../vector/twitter.svg
              a.social.social_instagram(href=config.meta.social.instagram,target="_blank")
                include ../../vector/instagram.svg
          .clear
        .clear


