a.item(href='#intro',data-item='intro') Intro
.divider
a.item(href='#history',data-item='history') History
.divider
a.item(href='#collection',data-item='collection') The Collection
.divider
a.item(href='#howto',data-item='howto') How to Use
.divider
a.item(href='#credits',data-item='credits') Credits
