a.item(href='#intro') Intro
.divider
a.item(href='#history') History
.divider
a.item(href='#howtouse') How to Use
.divider
a.item(href='#thecollection') The Collection
.divider
a.item(href='#credits') Credits
