@keyframes inFromTop
  from
    transform translate(0, -10px)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1

@keyframes inFromBottom
  from
    transform translate(0, 10px)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1



@keyframes inFromRight
  from
    transform translate(10px, 0)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1


@keyframes inFromLeft
  from
    transform translate(-10px, 0)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1


